$TTL 300
@   IN SOA  ns1.__DOMAIN__. hostmaster.__DOMAIN__. (
                __SERIAL__ ; serial (YYYYMMDDnn)
                3600       ; refresh
                900        ; retry
                604800     ; expire
                300 )      ; minimum

    IN NS   ns1.__DOMAIN__.
    IN NS   ns1.dns.ne.jp.
    IN NS   ns2.dns.ne.jp.
ns1 IN A    __IP__
@   IN A    __IP__
*   IN A    __IP__

@   IN TXT  "v=spf1 a mx ip4:__IP__ ~all"
*   IN TXT  "v=spf1 a mx ip4:__IP__ ~all"
_dmarc  IN TXT  "v=DMARC1; p=none; rua=mailto:postmaster@__DOMAIN__"
